<!-- <app-product-list></app-product-list>
<app-list></app-list>
<app-profile-details></app-profile-details> -->
<div class="container justify-content-center align-item-center text-center">
  <div class="row">
      <div class="col-4">
          <a [routerLink]="'list'">list</a>         
      </div>
      <div class="col-4">
          <a [routerLink]="'profile-builder'">profile-builder</a>
      </div>
      <div class="col-4">
          <a [routerLink]="'products'">products</a>
      </div>
  </div>
  </div>
<app-home></app-home>